<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScaxCodes Clubhouse</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="message-container">
      <% if (currentUser) { %>
      <p class="clubhouse-status">
        <strong>Clubhouse Status: </strong><%= isClubmember ? "Member" : "Guest"
        %>
      </p>
      <% } %>
      <!-- Gate for logged in users -->
      <% if (currentUser && currentUser.clubmember) { %>
      <h1>Welcome to the Clubhouse, <%= currentUser.username %>!</h1>
      <p>
        <a href="/logout">Logout</a>
      </p>

      <% } else if (currentUser) { %>
      <h1>Welcome, <%= currentUser.username %>!</h1>
      <p>
        <a href="/join-the-club">Join the Clubhouse</a> |
        <a href="/logout">Logout</a>
      </p>

      <% } else { %>
      <h1>The Secret Clubhouse 🕵️‍♂️</h1>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="/signup">Signup here</a></p>
      <% } %>
    </div>
  </body>
</html>
