<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScaxCodes Clubhouse - Signup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="form-container">
      <h1>Sign Up</h1>
      <form action="/signup" method="POST">
        <label for="firstname">First Name</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          required
          value="<%=
        formData?.firstname || '' %>"
        />

        <label for="lastname">Last Name</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          required
          value="<%=
        formData?.lastname || '' %>"
        />

        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          value="<%=
        formData?.username || '' %>"
        />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <% const confirmPasswordError = (errors || []).find(e => e.path ===
        'confirmPassword'); %> <% if (confirmPasswordError) { %>
        <p class="key-error"><%= confirmPasswordError.msg %>!</p>
        <% } %>

        <button type="submit">Sign Up</button>
      </form>
      <p>Already have an account? <a href="/">Login here</a></p>
    </div>
  </body>
</html>
